<div class="intro">
  <img class="size" src="/assets/images/Photo.png" />
  <div class="intro-text size">
    <div class="title">
      <h1>HELLO THERE...</h1>
      <img class="smile" src="/assets/icons/smile.svg">
    </div>
    <p>
      I'm Eden, a computer science student from Israel living in France. I’m passionate about graphic design and data visualisation. I like playing piano, cooking, gardening, and just trying every possible art medium known to man. I love learning new things and my coworkers like to say I have an unhealthy obsession with reading documentation.
    </p>
  </div>
</div>
